<footer class="footer">
  <small>
    <li><%= link_to t(".namefooter"), "#" %></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".help"), "#" %></li>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".new"), "#" %></li>
    </ul>
  </nav>
</footer>
